---
---
// Note: If you'd like to change the theme's Sass variables, you must set new values before the @import line in your stylesheet.
// https://github.com/pages-themes/leap-day
@import "{{ site.theme }}";

#banner {
    background: #5900ff; /* Dark purple background */
    border: #5900ff; /* Dark purple border */
}
#banner .button {
    background: #FEDE5D; /* Bright yellowish accent for buttons */
    border: #ff9900; /* Soft orange border for contrast */
}
header {
    background: #3e1f5f; /* Dark purple background with a deeper shade */
    text-shadow: 0px 2px 0px #ff7edb; /* Light pink text shadow for synth-wave effect */
}
body {
    background: #2e003e; /* Dark purple background for the body */
}
header h1 {
    text-shadow: 0px 2px 0px #8c00ff; /* Purple text shadow with a synth-wave vibe */
}
